.dashboard__actions {
  display: flex;
  align-items: center;
  margin: 2rem 0;

  &__item {
    font-size: 1.8rem;
    display: flex;
    align-items: flex-start;
    margin-right: 3rem;

    svg {
      margin-right: 1rem;
      width: 2rem;
      height: 2rem;
    }
  }
}
