footer {
  background-color: $dark-navy;
  height: 3.5rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;

  span {
    padding-top: 0.2rem;
  }

  a {
    height: 70%;
  }

  svg {
    width: 2rem;
    height: 100%;
    fill: white;
    margin-left: 1.5rem;
  }
}
